@using Nop.Core.Domain.Seo
@inject SeoSettings seoSettings

@{
    Layout = "_ColumnsOne";

    //title
    if (!string.IsNullOrEmpty(seoSettings.HomepageTitle))
    {
        Html.AddTitleParts(seoSettings.HomepageTitle);
    }

    //meta
    if (!string.IsNullOrEmpty(seoSettings.HomepageDescription))
    {
        Html.AddMetaDescriptionParts(seoSettings.HomepageDescription);
    }

    //page class
    Html.AppendPageCssClassParts("html-home-page");

    Html.AppendCssFileParts("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
    Html.AppendCssFileParts("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css");
    Html.AppendCssFileParts("~/Themes/BookingTheme/Content/css/datepicker.styles.css");

    Html.AddScriptParts(ResourceLocation.Head, "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js");
    Html.AddScriptParts(ResourceLocation.Head, "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "https://unpkg.com/vue-airbnb-style-datepicker@2.7.1/dist/vue-airbnb-style-datepicker.min.js");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Banner")
        @await Component.InvokeAsync("PlaceSuggestion")
        @await Component.InvokeAsync("Promotion")
        @await Component.InvokeAsync("Destination")
        @await Component.InvokeAsync("Discovery")
        @await Component.InvokeAsync("UserManual")
        @await Component.InvokeAsync("Introduction")
        @*@await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
            @await Component.InvokeAsync("HomepageCategories")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
            @await Component.InvokeAsync("HomepageProducts")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
            @await Component.InvokeAsync("HomepageBestSellers")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
            @await Component.InvokeAsync("HomepageNews")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
            @await Component.InvokeAsync("HomepagePolls")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })*@
    </div>
</div>