@model ProductDetailsModel
@*@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    <div class="availability">
        @if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
        {
            <div class="stock">
                <strong>@T("Products.Availability"):</strong>
                <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
            </div>
        }
        @await Html.PartialAsync("_BackInStockSubscription", Model)
    </div>
}*@

<div class="room-availability">
    <div class="title mt--60 mb--24">
        <h3 class="mb--6">Availability</h3>
        <span>Giá có thể tăng vào cuối tuần hoặc ngày lễ</span>
    </div>
</div>