@model ProductDetailsModel
@*@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
    {
        <div class="availability">
            @if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
            {
                <div class="stock">
                    <strong>@T("Products.Availability"):</strong>
                    <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
                </div>
            }
            @await Html.PartialAsync("_BackInStockSubscription", Model)
        </div>
    }*@

<div class="room-availability">
    <div class="title mt--60 mb--24">
        <h3 class="mb--6">Availability</h3>
        <span>Giá có thể tăng vào cuối tuần hoặc ngày lễ</span>
    </div>
    <div class="is-relative datepicker-range" id="app">
        <input type="text" id="datepicker-inline-trigger" class="d-none datepicker-open">
        <airbnb-style-datepicker :trigger-element-id="'datepicker-inline-trigger'"
                                 :mode="'range'"
                                 :inline="true"
                                 :date-one="buttonDateOne"
                                 :date-two="buttonDateTwo"
                                 :min-date="minDate"
                                 :fullscreen-mobile="true"
                                 :months-to-show="2"
                                 :offset-y="10"
                                 :trigger="false"
                                 v-on:date-one-selected="function(val) { buttonDateOne = val }"
                                 v-on:date-two-selected="function(val) { buttonDateTwo = val }"
                                 v-on:closed="onClosed"
                                 v-on:previous-month="onMonthChange"
                                 v-on:next-month="onMonthChange"
                                 :show-action-buttons="true"
                                 :show-shortcuts-menu-trigger="false">
        </airbnb-style-datepicker>
    </div>
</div>

<script asp-location="Footer">
    var dateObj = new Date();
    var month = dateObj.getUTCMonth() + 1; //months from 1-12
    var day = dateObj.getUTCDate();
    var year = dateObj.getUTCFullYear();

    currentDate = year + "-" + month + "-" + day;

    // define options (optional)
    var datepickerOptions = {
        sundayFirst: true,
        texts: {
            apply: ' ',
            cancel: 'Xóa',
        },
    }
    // install plugin
    Vue.use(window.AirbnbStyleDatepicker, datepickerOptions)

    var app = new Vue({
        el: '#app',
        data: {
            date1: '',
            date2: '',
            buttonDateOne: '',
            buttonDateTwo: '',
            inlineDateOne: '',
            minDate: currentDate,
        },
        methods: {
            formatDates: function (dateOne, dateTwo) {
                var formattedDates = ''
                if (dateOne) {
                    formattedDates = dateFns.format(dateOne, this.dateFormat)
                }
                if (dateTwo) {
                    formattedDates += ' - ' + dateFns.format(dateTwo, this.dateFormat)
                }
                return formattedDates
            },
            onClosed: function () {
                var datesStr = this.formatDates(this.inputDateOne, this.inputDateTwo)
                console.log('Dates Selected: ' + datesStr)
                this.trigger = false
            },
            toggleAlign: function () {
                this.alignRight = !this.alignRight
            },
            triggerDatepicker: function () {
                this.trigger = !this.trigger
            },
            onMonthChange: function (dates) {
                console.log('months changed', dates)
            },
        },
    })
</script>

