<div class="title mt--60">
    <h3>Nội quy và chính sách về chỗ ở</h3>
</div>
<div>
    <h4 class="mt--24 mb--6">Chính sách hủy phòng</h4>
    <div>
        <p>
            <b>Trung bình:</b>
            Miễn phí hủy phòng trong vòng 48h sau khi đặt phòng thành công và trước 5 ngày so với thời gian check-in. Sau đó, hủy phòng trước 5 ngày so với thời gian check-in, được hoàn lại 100% tổng số tiền đã trả (trừ phí dịch vụ).
            <a href="https://www.luxstay.com/vi/cancellation_policy" target="_blank" class="color-i">Chi tiết</a>
        </p>
    </div>
    <div id="room-cancel-rule" class="mt--18">
        <div class="cancellation-rule" style="max-width: 678px;">
            <div class="cancellation-rule__title">
                <div class="d-inline-flex" style="width: 169px; align-items: center;">
                    <p class="d-inline-block rule-title">Đặt phòng thành công</p>
                </div>
                <div class="d-inline-flex" style="width: 169px; align-items: center;">
                    <p class="d-inline-block rule-title" style="transform: translateX(calc(-50% + 15px)); text-align: center;"> Sau 48h</p>
                </div>
                <div class="d-inline-flex" style="width: 169px; align-items: center;">
                    <p class="d-inline-block rule-title" style="transform: translateX(calc(-50% + 15px)); text-align: center;">5 ngày trước check-in</p>
                </div>
                <div class="d-inline-flex" style="width: 169px; align-items: center; justify-content: flex-end;">
                    <p class="d-inline-block rule-title">Check-in</p>
                </div>
            </div>
            <div class="cancellation-rule__content">
                <div class="d-inline-block">
                    <div class="rule-process" style="width: 169px;">
                        <div class="rule-process__symbol is-first" style="width: 32px; height: 32px; background: rgb(40, 202, 110);">
                            <div class="check-mark"></div>
                            <!---->
                            <div class="rule-process__line is-top" style="width: 169px; height: 4px; background: rgb(40, 202, 110);"></div>
                            <div class="rule-process__line is-bottom" style="width: 1px; height: 120px; background: rgb(40, 202, 110);"></div>
                        </div>
                        <p class="mb-0 mt--6 rule-process__txt p--small" style="margin-left: 36px;">
                            <!---->
                            Hoàn tiền 100%
                        </p>
                    </div>
                </div>
                <div class="d-inline-block">
                    <div class="rule-process" style="width: 169px;">
                        <div class="rule-process__symbol is-normal" style="width: 20px; height: 20px; margin-top: 6px; background: rgb(255, 181, 0);">
                            <!----> <!---->
                            <div class="rule-process__line is-top" style="width: 169px; height: 4px; background: rgb(255, 181, 0);"></div>
                            <div class="rule-process__line is-bottom" style="width: 1px; height: 120px; background: rgb(255, 181, 0);"></div>
                        </div>
                        <p class="mb-0 mt--6 rule-process__txt p--small" style="margin-left: 28px;">
                            <!---->
                            Hoàn tiền 100% (trừ phí dịch vụ)
                        </p>
                    </div>
                </div>
                <div class="d-inline-block" style="flex-grow: 1;">
                    <div class="rule-process">
                        <div class="rule-process__symbol is-normal" style="width: 20px; height: 20px; margin-top: 6px; background: rgb(246, 94, 57);">
                            <!----> <!---->
                            <div class="rule-process__line is-top" style="width: 169px; height: 4px; background: rgb(246, 94, 57);"></div>
                            <div class="rule-process__line is-bottom" style="width: 1px; height: 120px; background: rgb(246, 94, 57);"></div>
                        </div>
                        <p class="mb-0 mt--6 rule-process__txt p--small" style="margin-left: 28px;">
                            <!---->
                            Hoàn 50% (trừ phí đêm đầu tiên, phí dịch vụ và các phí kèm theo)
                        </p>
                    </div>
                </div>
                <div class="d-inline-block">
                    <div class="rule-process is-last">
                        <div class="rule-process__symbol is-last" style="width: 32px; height: 32px; background: rgb(246, 94, 57);">
                            <!---->
                            <svg version="1.1" viewBox="0 0 24 24" class="symbol-icon svg-icon svg-fill" style="width: 16px; height: 16px;">
                                <g fill="none" fill-rule="evenodd">
                                    <path pid="0" d="M0 0h24v24H0z"></path>
                                    <path pid="1" fill="#FFF" d="M3.957 8.415L11.48 3.82a1 1 0 011.042 0l7.522 4.596A2 2 0 0121 10.122V19a2 2 0 01-2 2H5a2 2 0 01-2-2v-8.878a2 2 0 01.957-1.707zM13.8 12c-.644 0-1.397.73-1.8 1.2-.403-.47-1.156-1.2-1.8-1.2-1.14 0-1.8.889-1.8 2.02 0 1.253 1.2 2.58 3.6 3.98 2.4-1.4 3.6-2.7 3.6-3.9 0-1.131-.66-2.1-1.8-2.1z"></path>
                                </g>
                            </svg>
                            <div class="rule-process__line is-top" style="width: 169px; height: 4px; background: rgb(246, 94, 57);"></div>
                            <div class="rule-process__line is-bottom" style="width: 1px; height: 120px; background: rgb(246, 94, 57);"></div>
                        </div>
                        <p class="mb-0 mt--6 rule-process__txt p--small" style="margin-left: 36px;">
                            <!---->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="mt--24 mb--6">Lưu ý đặc biệt</h4>
    <p class="mb--0">
        <ul>
            <li>Không phù hợp với thú cưng</li>
            <li>Không hỗ trợ tổ chức tiệc hay sự kiện</li>
            <li>Không hút thuốc trong căn hộ</li>
        </ul>
    </p>
    <h4 class="mt--24 mb--6">Thời gian nhận phòng</h4>
    <div class="room-price__wrap">
        <div class="is-flex jbetween align-center py--12 px--18"><span class="c-gray-3 fl-item-50">Nhận phòng</span> <span class="c-gray-3 fl-item-50 pl--12 bold text-right">02:00 pm</span></div>
        <div class="is-flex jbetween align-center py--12 px--18"><span class="c-gray-3 fl-item-50">Trả phòng</span> <span class="c-gray-3 fl-item-50 pl--12 bold text-right">12:00 pm</span></div>
    </div>
</div>
