<div>
    <div class="title mt--60 mb--24">
        <h3 class="mb--6">Tiện ích xung quanh</h3>
        <span>Trải nghiệm các tiện ích nổi bật xung quanh căn hộ</span>
    </div>
    <div class="tab d-none d-sm-flex w--100">
        <div class="tab__nav scroll--nomal">
            <a data-tab="0" class="tab__link is-flex align-center jstart is-relative tab__link--active">
                <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;">
                    <g fill="#000" fill-rule="evenodd">
                        <path pid="0" d="M18.382 16.824h-.021a.468.468 0 000 .935h.021a.468.468 0 100-.935zM14.525 5.577H9.428a.468.468 0 100 .936h5.097a.468.468 0 000-.936z"></path>
                        <path pid="1" d="M23.485 22.299h-.38v-5.007a.468.468 0 00-.468-.468h-1.112v-1.04a.468.468 0 00-.468-.467h-1.039v-1.039a.468.468 0 00-.468-.467h-.781V8.098a.468.468 0 00.386-.388l.49-3.087a.468.468 0 00-.462-.54h-.819V2.97a.468.468 0 00-.467-.468h-.837v-1a.468.468 0 00-.468-.467H6.708a.468.468 0 00-.468.467v1h-.837a.468.468 0 00-.468.468v1.112h-.818a.468.468 0 00-.462.541l.49 3.087c.036.227.23.393.46.395v5.706h-.202a.468.468 0 00-.468.467v1.04H2.897a.468.468 0 00-.468.467v1.039H1.317a.468.468 0 00-.468.468v5.007H.468a.468.468 0 100 .935h23.017a.468.468 0 000-.935zm-4.403-7.553v.571H4.871v-.57h14.211zM5.54 13.811V8.105h.736v5.706H5.54zm1.672 0V8.105h.975v5.706h-.975zm1.91 0V8.105h1.104v5.706H9.123zm2.04 0V8.105h1.05v5.706h-1.05zm1.985 0V8.105h1.104v5.706h-1.104zm2.04 0V8.105h.975v5.706h-.976zm1.91 0V8.105h.736v5.706h-.736zM7.176 1.97h8.948v.531H7.176V1.97zM5.87 3.437H17.43v.644H5.87v-.644zm12.764 1.58l-.342 2.15H5.007l-.342-2.15h13.97zM5.776 22.298H5.28v-.864h.497v.865zm1.433 0h-.497v-.864h.497v.865zm1.434 0h-.498v-.864h.498v.865zm5.732 0H9.578v-2.217h4.797v2.218zm1.433 0h-.497v-.864h.497v.865zm1.433 0h-.497v-.864h.497v.865zm1.433 0h-.497v-.864h.497v.865zm3.495 0h-2.56v-1.332a.468.468 0 00-.467-.468h-3.831v-.885a.468.468 0 00-.468-.468H9.11a.468.468 0 00-.467.468v.885H4.81a.468.468 0 00-.468.468V22.3H1.784v-4.54h14.34a.468.468 0 000-.935H3.364v-.571H20.59v.57h-.89a.468.468 0 000 .936h2.47v4.54zM4.873 7.68h13.678H4.873z" fill-rule="nonzero"></path>
                    </g>
                </svg>
                <span class="ml--12">Địa điểm nổi tiếng</span>
            </a>
            <a data-tab="1" class="tab__link is-flex align-center jstart is-relative">
                <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;">
                    <g fill="#000" fill-rule="nonzero">
                        <path pid="0" d="M22.814 19.177h-.838c-.197-4.91-4.09-9.181-8.957-9.602v-.401c.494-.295.676-.823.676-1.41C13.695 6.855 13.02 6 11.96 6h-.035a1.784 1.784 0 00-1.807 1.764c0 .587.248 1.115.742 1.41v.4c-4.867.422-8.669 4.692-8.865 9.603H1.31c-.723 0-1.311.298-1.311 1.397S.588 22 1.311 22h21.503c.723 0 1.186-.523 1.186-1.426 0-.903-.463-1.397-1.186-1.397zM11.06 7.764c0-.475.388-.861.864-.861h.036c.476 0 .864.386.864.86a.856.856 0 01-.55.8.394.394 0 00-.25.367v.608h-.163V8.93c0-.162-.1-.307-.25-.367a.856.856 0 01-.55-.8zm11.423 13.401H1.53c-.288 0-.521-.196-.521-.483a.52.52 0 01.52-.519h.937l13.443-.052c.218 0 .52-.127.52-.46 0-.334-.302-.463-.52-.463H3.014c.206-4.749 4.064-8.616 8.874-8.635h.109c4.81.019 8.689 3.886 8.896 8.635h-2.226c-.218 0-.659.001-.659.462s.441.513.66.513h3.765c.287 0 .57.243.57.53 0 .286-.233.472-.52.472zM2.146 1.904a.58.58 0 01-.028-.735.406.406 0 01.633-.033c1.13 1.2 1.523 2.39 1.057 3.503-.047.113-.093.218-.167.384l-.073.163c-.62 1.396-.663 2.223.121 4.063.11.257.02.57-.203.697-.221.127-.49.022-.6-.236-.92-2.155-.858-3.327-.114-5.001l.073-.164c.07-.16.114-.257.157-.36.258-.618.013-1.357-.856-2.28zM17.146 1.904a.58.58 0 01-.028-.735.406.406 0 01.633-.033c1.13 1.2 1.523 2.39 1.057 3.503-.047.113-.093.218-.167.384l-.073.163c-.62 1.396-.663 2.223.121 4.063.11.257.02.57-.203.697-.221.127-.49.022-.6-.236-.92-2.155-.858-3.327-.114-5.001l.073-.164c.07-.16.114-.257.157-.36.258-.618.013-1.357-.856-2.28zM5.146 1.904a.58.58 0 01-.028-.735.406.406 0 01.633-.033c1.13 1.2 1.523 2.39 1.057 3.503-.047.113-.093.218-.167.384l-.073.163c-.62 1.396-.663 2.223.121 4.063.11.257.02.57-.203.697-.221.127-.49.022-.6-.236-.92-2.155-.858-3.327-.114-5.001l.073-.164c.07-.16.114-.257.157-.36.258-.618.013-1.357-.856-2.28zM20.146 1.904a.58.58 0 01-.028-.735.406.406 0 01.633-.033c1.13 1.2 1.523 2.39 1.057 3.503-.047.113-.093.218-.167.384l-.073.163c-.62 1.396-.663 2.223.121 4.063.11.257.02.57-.203.697-.221.127-.49.022-.6-.236-.92-2.155-.858-3.327-.114-5.001l.073-.164c.07-.16.114-.257.157-.36.258-.618.013-1.357-.856-2.28z"></path>
                    </g>
                </svg>
                <span class="ml--12">Ẩm thực</span>
            </a>
            <a data-tab="2" class="tab__link is-flex align-center jstart is-relative">
                <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;">
                    <path pid="0" d="M4.735 5.5h18.759c.322 0 .562.296.495.611l-1.866 8.744a.506.506 0 01-.495.4H6.84l.336 1.559h14.678a.506.506 0 010 1.012H6.768a.506.506 0 01-.495-.4L3.21 3.238.304 1.97a.506.506 0 01.405-.928l3.145 1.371c.149.065.258.198.292.357l.589 2.73zm.218 1.012l1.67 7.738a.51.51 0 01.079-.006h14.516l1.65-7.732H4.953zm4.521 2.694a.506.506 0 110-1.012h9.618a.506.506 0 010 1.012H9.474zm.339 2.975a.506.506 0 010-1.013h8.648a.506.506 0 010 1.013H9.813zm.542 10.138a1.012 1.012 0 100-2.025 1.012 1.012 0 000 2.025zm0 1.012a2.025 2.025 0 110-4.049 2.025 2.025 0 010 4.05zm7.086-1.012a1.012 1.012 0 100-2.025 1.012 1.012 0 000 2.025zm0 1.012a2.025 2.025 0 110-4.049 2.025 2.025 0 010 4.05z" fill="#000" fill-rule="nonzero"></path>
                </svg>
                <span class="ml--12">Mua sắm</span>
            </a>
            <a data-tab="3" class="tab__link is-flex align-center jstart is-relative">
                <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;">
                    <g fill="#000" fill-rule="evenodd">
                        <path pid="0" d="M4.081 15.275a.47.47 0 10.474.81.47.47 0 00-.474-.81zM14.52 3.195a.47.47 0 10.281-.896.47.47 0 00-.281.896zM4.76 6.042a.468.468 0 10.585-.73.468.468 0 00-.586.73zM9.404 3.197a.469.469 0 100-.937.469.469 0 000 .937zM7.007 4.343a.469.469 0 100 0zM12.032 2.813h.001a.469.469 0 10-.001 0zM20.417 10.662a.469.469 0 00.468.437l.032-.001a.469.469 0 10-.5-.436zM19.872 8.205a.468.468 0 10.874-.336.468.468 0 00-.875.336zM16.783 4.298a.466.466 0 00.652-.12.469.469 0 10-.652.12zM18.99 6.198a.469.469 0 100-.938.469.469 0 000 .938zM19.284 15.511a.469.469 0 10.809.475.469.469 0 00-.81-.475zM20.78 12.824a.469.469 0 10-.213.912.469.469 0 00.213-.912zM3.217 12.757a.469.469 0 10.217.912.469.469 0 00-.217-.912zM3.543 8.41a.466.466 0 00.609-.264.469.469 0 10-.609.263zM3.12 11.032a.47.47 0 10-.468-.504.468.468 0 00.468.504zM8.25 10.781H6.844a.469.469 0 000 .938H8.25a.469.469 0 000-.938zM17.156 11.719a.469.469 0 000-.938H15.75a.469.469 0 000 .938h1.406zM15.978 7.272a.469.469 0 00-.663 0l-1.326 1.326a.469.469 0 00.663.663l1.325-1.326a.469.469 0 000-.663zM8.685 7.272a.469.469 0 00-.662.663l1.325 1.326a.467.467 0 00.663 0 .469.469 0 000-.663L8.685 7.272zM12 5.625a.469.469 0 00-.469.469v1.875a.469.469 0 00.938 0V6.094A.469.469 0 0012 5.625zM12 16.5c.259 0 .469-.21.469-.469v-.375a.469.469 0 00-.938 0v.375c0 .26.21.469.469.469z"></path>
                        <path pid="1" d="M23.531 23.001h-1.16l-2.61-3.607a11.176 11.176 0 003.489-8.144c0-3.005-1.17-5.83-3.295-7.955A11.176 11.176 0 0012 0C8.995 0 6.17 1.17 4.045 3.295A11.176 11.176 0 00.75 11.25a11.176 11.176 0 003.489 8.143l-2.61 3.608H.47c-.26 0-.469.271-.469.53 0 .26.21.469.469.469H23.53c.26 0 .469-.21.469-.469s-.21-.53-.469-.53zM1.815 11.25C1.815 5.564 6.314 1.029 12 1.029c5.686 0 10.266 4.535 10.266 10.221 0 2.883-1.144 5.405-3.058 7.278l-1.725-2.336c1.303-1.303 2.017-3.047 2.017-4.942 0-4.136-3.364-7.5-7.5-7.5s-7.5 3.364-7.5 7.5c0 1.895.714 3.64 2.017 4.942l-1.598 2.425a10.281 10.281 0 01-3.104-7.367zm12.054-.14A1.877 1.877 0 0012 9.376c-.987 0-1.798.767-1.87 1.736L7.069 15.28c-1.023-1.084-1.546-2.395-1.546-4.03 0-3.619 2.86-6.453 6.478-6.453 3.619 0 6.423 2.834 6.423 6.453 0 1.635-.454 2.946-1.477 4.03l-3.077-4.17zM12 13.32l2.599 3.649c-.79.303-1.665.47-2.599.47-.934 0-1.81-.167-2.599-.47L12 13.318zm0-1.132a.939.939 0 010-1.874.939.939 0 010 1.874zM2.78 22.998l7.662-10.707c.175.262.414.477.695.623L3.91 22.998H2.78zm2.28.006l1.426-1.943c.708.399 1.456.718 2.233.954v.99H5.06zm7.878-.879h1.253v.876H9.697v-1.814c0-.516.38-.923.897-.923h2.604c.517 0 .938.407.938.924h-1.198a.47.47 0 000 .937zm.468-2.813h-2.812c-.98 0-1.787.757-1.868 1.716a10.263 10.263 0 01-1.688-.742l1.806-2.536c.97.41 2.041.625 3.156.625a8.106 8.106 0 003.155-.626l1.808 2.538c-.536.295-1.1.544-1.689.742a1.877 1.877 0 00-1.868-1.716zm1.875 2.704a10.808 10.808 0 002.196-.955l1.426 1.935h-3.622v-.98zm4.81.98l-7.228-10.082c.28-.146.52-.361.695-.623l7.663 10.704h-1.13z" fill-rule="nonzero"></path>
                        <path pid="2" d="M11.063 21.188a.47.47 0 10.001.939.47.47 0 00-.002-.94z"></path>
                    </g>
                </svg>
                <span class="ml--12">Giải trí</span>
            </a>
            <a data-tab="4" class="tab__link is-flex align-center jstart is-relative">
                <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;">
                    <g fill="#000" fill-rule="nonzero">
                        <path pid="0" d="M9.094 3.25a1 1 0 01-.968.75H1v1h7.535a1 1 0 01.866.5A2.998 2.998 0 0012 7a2.998 2.998 0 002.6-1.5 1 1 0 01.865-.5H23V4h-7.126a1 1 0 01-.968-.75 3.002 3.002 0 00-5.812 0zM8.126 3a4.002 4.002 0 017.748 0H23a1 1 0 011 1v1a1 1 0 01-1 1h-7.535A3.998 3.998 0 0112 8a3.998 3.998 0 01-3.465-2H1a1 1 0 01-1-1V4a1 1 0 011-1h7.126zM1 22v1h22v-1H1zm0-1h22a1 1 0 011 1v1a1 1 0 01-1 1H1a1 1 0 01-1-1v-1a1 1 0 011-1zM5 10v2h2v-2H5zm0-1h2a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1v-2a1 1 0 011-1zM17 10v2h2v-2h-2zm0-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1v-2a1 1 0 011-1z"></path>
                        <path pid="1" d="M10 15v6h4v-6h-4zm0-1h4a1 1 0 011 1v6a1 1 0 01-1 1h-4a1 1 0 01-1-1v-6a1 1 0 011-1z"></path>
                        <path pid="2" d="M21.002 5h1v17H2.033V5h1v16h17.97z"></path>
                        <path pid="3" d="M12.434 3.7h.895v1h-.895v.895h-1V4.7h-.895v-1h.895v-.895h1V3.7z"></path>
                    </g>
                </svg>
                <span class="ml--12">Y tế</span>
            </a>
            <a data-tab="5" class="tab__link is-flex align-center jstart is-relative">
                <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill" style="width: 24px; height: 24px;">
                    <g fill="#000" fill-rule="evenodd">
                        <path pid="0" d="M13.22 20.1h-.47v-.47a2.347 2.347 0 00-2.343-2.346H3.28A2.347 2.347 0 00.938 19.63v.47h-.47a.469.469 0 00-.468.468v1.877c0 .259.21.47.469.47h12.75c.259 0 .469-.211.469-.47v-1.877c0-.259-.21-.469-.469-.469zm-11.345-.47c0-.776.63-1.407 1.406-1.407h7.126c.775 0 1.406.631 1.406 1.407v.47H1.875v-.47zm10.875 2.346H.938v-.938H12.75v.938z" fill-rule="nonzero"></path>
                        <path pid="1" d="M23.589 20.511l-10.21-10.217 1.77-1.77a1.647 1.647 0 001.711-.386c.64-.64.64-1.682 0-2.322l-4.309-4.312a1.642 1.642 0 00-2.705 1.712l-1.77 1.77-.398-.397a1.407 1.407 0 00-1.988 1.99l.397.398-1.77 1.771a1.642 1.642 0 00-1.71 2.707l4.309 4.313c.32.32.74.48 1.16.48.42 0 .84-.16 1.16-.48.462-.462.59-1.134.385-1.712l1.77-1.771L21.6 22.502c.274.274.634.411.994.411s.72-.137.995-.411a1.41 1.41 0 000-1.99zm-8.95-6.302l.663-.664.663.664-.663.663-.663-.663zm-2.917-3.583l-.994-.995a.469.469 0 10-.663.663l.994.996-.663.663-1.657-1.659a.465.465 0 00-.663 0 .47.47 0 000 .664l1.657 1.659-.662.663L5.093 9.3l5.303-5.308 3.978 3.98-2.652 2.654zm-.828-8.459a.7.7 0 01.994 0l4.31 4.313a.704.704 0 01-.994.995l-4.31-4.313a.705.705 0 010-.995zM6.353 5.916a.47.47 0 01.663-.664l.397.398-.663.664-.397-.398zm2.22 9.188a.704.704 0 01-.994 0L3.27 10.792a.705.705 0 01.497-1.201.7.7 0 01.497.206l4.31 4.312a.705.705 0 010 .995zm4.144-4.146l1.922 1.924-.663.663-1.922-1.924.663-.663zm10.209 10.88a.469.469 0 01-.663 0l-6.298-6.302.663-.664 6.298 6.303a.47.47 0 010 .663z" fill-rule="nonzero"></path>
                        <path pid="2" d="M7.082 8.83a.47.47 0 10.332.801.471.471 0 00-.332-.801z"></path>
                    </g>
                </svg>
                <span class="ml--12">Cơ quan ban ngành</span>
            </a>
        </div>
        <div class="fl-item-stretch">
            <div id="0" class="tab__content scroll--nomal tab__content--active">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Bảo tàng lịch sử Việt Nam</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Thảo Cầm Viên</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">3</span> <span class="counter__text">Bảo Tàng Chiến Dịch Hồ Chí Minh</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">4</span> <span class="counter__text">Nhà Thờ Thị Nghè</span></div>
                    </div>
                </div>
            </div>
            <div id="1" class="tab__content scroll--nomal">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">The LOG Restaurant</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Ocean Palace - Ẩm Thực Trung Hoa</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">3</span> <span class="counter__text">Tea Time Express - Trường Sa</span></div>
                    </div>
                </div>
            </div>
            <div id="2" class="tab__content scroll--nomal">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Siêu thị COCOMART Huỳnh Mẫn Đạt - Mua tiện lợi</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Chợ Thị Nghè</span></div>
                    </div>
                </div>
            </div>
            <div id="3" class="tab__content scroll--nomal">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Thảo Cầm Viên Sài Gòn</span></div>
                    </div>
                </div>
            </div>
            <div id="4" class="tab__content scroll--nomal">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">BỆNH VIỆN BÌNH THẠNH - CƠ SỞ 2</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">BỆNH VIỆN THẨM MỸ THANH VÂN</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">3</span> <span class="counter__text">NHA KHOA TÂM AN - CS2</span></div>
                    </div>
                </div>
            </div>
            <div id="5" class="tab__content scroll--nomal">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Uỷ ban nhân dân Phường Đa Kao</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Uỷ ban nhân dân phường 17</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-sm-none fl-item-stretch">
        <div role="tablist" aria-multiselectable="true" class="el-collapse collapse-ru">
            <div class="el-collapse-item is-active" id="0">
                <div role="tab" aria-expanded="true" aria-controls="el-collapse-content-6684" aria-describedby="el-collapse-content-6684">
                    <div role="button" id="el-collapse-head-6684" tabindex="0" class="el-collapse-item__header is-active">Địa điểm nổi tiếng<i class="el-collapse-item__arrow el-icon-arrow-right is-active"></i></div>
                </div>
                <div role="tabpanel" aria-labelledby="el-collapse-head-6684" id="el-collapse-content-6684" class="el-collapse-item__wrap">
                    <div class="el-collapse-item__content">
                        <div class="row mt--0">
                            <div class="col-xs-12">
                                <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Bảo tàng lịch sử Việt Nam</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Thảo Cầm Viên</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">3</span> <span class="counter__text">Bảo Tàng Chiến Dịch Hồ Chí Minh</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">4</span> <span class="counter__text">Nhà Thờ Thị Nghè</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-collapse-item" id="1">
                <div role="tab" aria-controls="el-collapse-content-9615" aria-describedby="el-collapse-content-9615">
                    <div role="button" id="el-collapse-head-9615" tabindex="0" class="el-collapse-item__header">Ẩm thực<i class="el-collapse-item__arrow el-icon-arrow-right"></i></div>
                </div>
                <div role="tabpanel" aria-hidden="true" aria-labelledby="el-collapse-head-9615" id="el-collapse-content-9615" class="el-collapse-item__wrap" style="display: none;">
                    <div class="el-collapse-item__content">
                        <div class="row mt--0">
                            <div class="col-xs-12">
                                <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">The LOG Restaurant</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Ocean Palace - Ẩm Thực Trung Hoa</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">3</span> <span class="counter__text">Tea Time Express - Trường Sa</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-collapse-item" id="2">
                <div role="tab" aria-controls="el-collapse-content-450" aria-describedby="el-collapse-content-450">
                    <div role="button" id="el-collapse-head-450" tabindex="0" class="el-collapse-item__header">Mua sắm<i class="el-collapse-item__arrow el-icon-arrow-right"></i></div>
                </div>
                <div role="tabpanel" aria-hidden="true" aria-labelledby="el-collapse-head-450" id="el-collapse-content-450" class="el-collapse-item__wrap" style="display: none;">
                    <div class="el-collapse-item__content">
                        <div class="row mt--0">
                            <div class="col-xs-12">
                                <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Siêu thị COCOMART Huỳnh Mẫn Đạt - Mua tiện lợi</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Chợ Thị Nghè</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-collapse-item" id="3">
                <div role="tab" aria-controls="el-collapse-content-4421" aria-describedby="el-collapse-content-4421">
                    <div role="button" id="el-collapse-head-4421" tabindex="0" class="el-collapse-item__header">Giải trí<i class="el-collapse-item__arrow el-icon-arrow-right"></i></div>
                </div>
                <div role="tabpanel" aria-hidden="true" aria-labelledby="el-collapse-head-4421" id="el-collapse-content-4421" class="el-collapse-item__wrap" style="display: none;">
                    <div class="el-collapse-item__content">
                        <div class="row mt--0">
                            <div class="col-xs-12">
                                <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Thảo Cầm Viên Sài Gòn</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-collapse-item" id="4">
                <div role="tab" aria-controls="el-collapse-content-3249" aria-describedby="el-collapse-content-3249">
                    <div role="button" id="el-collapse-head-3249" tabindex="0" class="el-collapse-item__header">Y tế<i class="el-collapse-item__arrow el-icon-arrow-right"></i></div>
                </div>
                <div role="tabpanel" aria-hidden="true" aria-labelledby="el-collapse-head-3249" id="el-collapse-content-3249" class="el-collapse-item__wrap" style="display: none;">
                    <div class="el-collapse-item__content">
                        <div class="row mt--0">
                            <div class="col-xs-12">
                                <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">BỆNH VIỆN BÌNH THẠNH - CƠ SỞ 2</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">BỆNH VIỆN THẨM MỸ THANH VÂN</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">3</span> <span class="counter__text">NHA KHOA TÂM AN - CS2</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-collapse-item" id="5">
                <div role="tab" aria-controls="el-collapse-content-5138" aria-describedby="el-collapse-content-5138">
                    <div role="button" id="el-collapse-head-5138" tabindex="0" class="el-collapse-item__header">Cơ quan ban ngành<i class="el-collapse-item__arrow el-icon-arrow-right"></i></div>
                </div>
                <div role="tabpanel" aria-hidden="true" aria-labelledby="el-collapse-head-5138" id="el-collapse-content-5138" class="el-collapse-item__wrap" style="display: none;">
                    <div class="el-collapse-item__content">
                        <div class="row mt--0">
                            <div class="col-xs-12">
                                <div class="counter d-flex"><span class="counter__number">1</span> <span class="counter__text">Uỷ ban nhân dân Phường Đa Kao</span></div>
                            </div>
                            <div class="col-xs-12 mt--12">
                                <div class="counter d-flex"><span class="counter__number">2</span> <span class="counter__text">Uỷ ban nhân dân phường 17</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        $(".tab__nav a").click(function () {
            $(".tab__nav a").removeClass("tab__link--active");
            $(this).addClass("tab__link--active");

            var tabIndex = $(this).attr("data-tab");
            var element = ".fl-item-stretch " + "#" + tabIndex;

            $(".fl-item-stretch .tab__content").removeClass("tab__content--active");
            $(element).addClass("tab__content--active");
        });
    });
</script>
