<div class="py--30 px--12 px--lg--24">
    <div>
        <h3 class="fs-20 mb--6">Tư vấn từ Dibooking</h3>
        <p class="mb--12 p--small-2 c-gray-3">
            Vui lòng cung cấp số điện thoại để nhận được tư vấn từ Dibooking cho chuyến đi của bạn.
        </p>
    </div>
    <div>
        <div class="input-group input-group__custom">
            <input placeholder="Tên Khách hàng" data-vv-as="Tên Khách hàng" name="name" class="input" aria-required="true" aria-invalid="false">
            <span>
                <!----> <!---->
            </span>
        </div>
        <div class="input-group input-group__custom">
            <div class="phone-input input">
                <div class="country pointer">
                    <span class="code">
                        <span class="flag-box">
                            <div class="iti-flag vn"></div>
                        </span>
                        <span>+84</span> <span style="font-size: 10px;">▼</span>
                    </span>
                    <ul class="dropdown-flag" style="display: none;">
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag af"></div>
                            </span>
                            <span class="country-name">Afghanistan (‫افغانستان‬)</span> <span class="country-code">+93</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag al"></div>
                            </span>
                            <span class="country-name">Albania (Shqipëri)</span> <span class="country-code">+355</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag dz"></div>
                            </span>
                            <span class="country-name">Algeria (‫الجزائر‬)</span> <span class="country-code">+213</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag as"></div>
                            </span>
                            <span class="country-name">American Samoa</span> <span class="country-code">+1684</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ad"></div>
                            </span>
                            <span class="country-name">Andorra</span> <span class="country-code">+376</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ao"></div>
                            </span>
                            <span class="country-name">Angola</span> <span class="country-code">+244</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ai"></div>
                            </span>
                            <span class="country-name">Anguilla</span> <span class="country-code">+1264</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ag"></div>
                            </span>
                            <span class="country-name">Antigua and Barbuda</span> <span class="country-code">+1268</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ar"></div>
                            </span>
                            <span class="country-name">Argentina</span> <span class="country-code">+54</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag am"></div>
                            </span>
                            <span class="country-name">Armenia (Հայաստան)</span> <span class="country-code">+374</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag aw"></div>
                            </span>
                            <span class="country-name">Aruba</span> <span class="country-code">+297</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag au"></div>
                            </span>
                            <span class="country-name">Australia</span> <span class="country-code">+61</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag at"></div>
                            </span>
                            <span class="country-name">Austria (Österreich)</span> <span class="country-code">+43</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag az"></div>
                            </span>
                            <span class="country-name">Azerbaijan (Azərbaycan)</span> <span class="country-code">+994</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bs"></div>
                            </span>
                            <span class="country-name">Bahamas</span> <span class="country-code">+1242</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bh"></div>
                            </span>
                            <span class="country-name">Bahrain (‫البحرين‬)</span> <span class="country-code">+973</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bd"></div>
                            </span>
                            <span class="country-name">Bangladesh (বাংলাদেশ)</span> <span class="country-code">+880</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bb"></div>
                            </span>
                            <span class="country-name">Barbados</span> <span class="country-code">+1246</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag by"></div>
                            </span>
                            <span class="country-name">Belarus (Беларусь)</span> <span class="country-code">+375</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag be"></div>
                            </span>
                            <span class="country-name">Belgium (België)</span> <span class="country-code">+32</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bz"></div>
                            </span>
                            <span class="country-name">Belize</span> <span class="country-code">+501</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bj"></div>
                            </span>
                            <span class="country-name">Benin (Bénin)</span> <span class="country-code">+229</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bm"></div>
                            </span>
                            <span class="country-name">Bermuda</span> <span class="country-code">+1441</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bt"></div>
                            </span>
                            <span class="country-name">Bhutan (འབྲུག)</span> <span class="country-code">+975</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bo"></div>
                            </span>
                            <span class="country-name">Bolivia</span> <span class="country-code">+591</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ba"></div>
                            </span>
                            <span class="country-name">Bosnia and Herzegovina (Босна и Херцеговина)</span> <span class="country-code">+387</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bw"></div>
                            </span>
                            <span class="country-name">Botswana</span> <span class="country-code">+267</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag br"></div>
                            </span>
                            <span class="country-name">Brazil (Brasil)</span> <span class="country-code">+55</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag io"></div>
                            </span>
                            <span class="country-name">British Indian Ocean Territory</span> <span class="country-code">+246</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag vg"></div>
                            </span>
                            <span class="country-name">British Virgin Islands</span> <span class="country-code">+1284</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bn"></div>
                            </span>
                            <span class="country-name">Brunei</span> <span class="country-code">+673</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bg"></div>
                            </span>
                            <span class="country-name">Bulgaria (България)</span> <span class="country-code">+359</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bf"></div>
                            </span>
                            <span class="country-name">Burkina Faso</span> <span class="country-code">+226</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bi"></div>
                            </span>
                            <span class="country-name">Burundi (Uburundi)</span> <span class="country-code">+257</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kh"></div>
                            </span>
                            <span class="country-name">Cambodia (កម្ពុជា)</span> <span class="country-code">+855</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cm"></div>
                            </span>
                            <span class="country-name">Cameroon (Cameroun)</span> <span class="country-code">+237</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ca"></div>
                            </span>
                            <span class="country-name">Canada</span> <span class="country-code">+1</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cv"></div>
                            </span>
                            <span class="country-name">Cape Verde (Kabu Verdi)</span> <span class="country-code">+238</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bq"></div>
                            </span>
                            <span class="country-name">Caribbean Netherlands</span> <span class="country-code">+599</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ky"></div>
                            </span>
                            <span class="country-name">Cayman Islands</span> <span class="country-code">+1345</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cf"></div>
                            </span>
                            <span class="country-name">Central African Republic (République centrafricaine)</span> <span class="country-code">+236</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag td"></div>
                            </span>
                            <span class="country-name">Chad (Tchad)</span> <span class="country-code">+235</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cl"></div>
                            </span>
                            <span class="country-name">Chile</span> <span class="country-code">+56</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cn"></div>
                            </span>
                            <span class="country-name">China (中国)</span> <span class="country-code">+86</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cx"></div>
                            </span>
                            <span class="country-name">Christmas Island</span> <span class="country-code">+61</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cc"></div>
                            </span>
                            <span class="country-name">Cocos (Keeling) Islands</span> <span class="country-code">+61</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag co"></div>
                            </span>
                            <span class="country-name">Colombia</span> <span class="country-code">+57</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag km"></div>
                            </span>
                            <span class="country-name">Comoros (‫جزر القمر‬)</span> <span class="country-code">+269</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cd"></div>
                            </span>
                            <span class="country-name">Congo (DRC) (Jamhuri ya Kidemokrasia ya Kongo)</span> <span class="country-code">+243</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cg"></div>
                            </span>
                            <span class="country-name">Congo (Republic) (Congo-Brazzaville)</span> <span class="country-code">+242</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ck"></div>
                            </span>
                            <span class="country-name">Cook Islands</span> <span class="country-code">+682</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cr"></div>
                            </span>
                            <span class="country-name">Costa Rica</span> <span class="country-code">+506</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ci"></div>
                            </span>
                            <span class="country-name">Côte d’Ivoire</span> <span class="country-code">+225</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag hr"></div>
                            </span>
                            <span class="country-name">Croatia (Hrvatska)</span> <span class="country-code">+385</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cu"></div>
                            </span>
                            <span class="country-name">Cuba</span> <span class="country-code">+53</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cw"></div>
                            </span>
                            <span class="country-name">Curaçao</span> <span class="country-code">+599</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cy"></div>
                            </span>
                            <span class="country-name">Cyprus (Κύπρος)</span> <span class="country-code">+357</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag cz"></div>
                            </span>
                            <span class="country-name">Czech Republic (Česká republika)</span> <span class="country-code">+420</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag dk"></div>
                            </span>
                            <span class="country-name">Denmark (Danmark)</span> <span class="country-code">+45</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag dj"></div>
                            </span>
                            <span class="country-name">Djibouti</span> <span class="country-code">+253</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag dm"></div>
                            </span>
                            <span class="country-name">Dominica</span> <span class="country-code">+1767</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag do"></div>
                            </span>
                            <span class="country-name">Dominican Republic (República Dominicana)</span> <span class="country-code">+1</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ec"></div>
                            </span>
                            <span class="country-name">Ecuador</span> <span class="country-code">+593</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag eg"></div>
                            </span>
                            <span class="country-name">Egypt (‫مصر‬)</span> <span class="country-code">+20</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sv"></div>
                            </span>
                            <span class="country-name">El Salvador</span> <span class="country-code">+503</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gq"></div>
                            </span>
                            <span class="country-name">Equatorial Guinea (Guinea Ecuatorial)</span> <span class="country-code">+240</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag er"></div>
                            </span>
                            <span class="country-name">Eritrea</span> <span class="country-code">+291</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ee"></div>
                            </span>
                            <span class="country-name">Estonia (Eesti)</span> <span class="country-code">+372</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag et"></div>
                            </span>
                            <span class="country-name">Ethiopia</span> <span class="country-code">+251</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag fk"></div>
                            </span>
                            <span class="country-name">Falkland Islands (Islas Malvinas)</span> <span class="country-code">+500</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag fo"></div>
                            </span>
                            <span class="country-name">Faroe Islands (Føroyar)</span> <span class="country-code">+298</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag fj"></div>
                            </span>
                            <span class="country-name">Fiji</span> <span class="country-code">+679</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag fi"></div>
                            </span>
                            <span class="country-name">Finland (Suomi)</span> <span class="country-code">+358</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag fr"></div>
                            </span>
                            <span class="country-name">France</span> <span class="country-code">+33</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gf"></div>
                            </span>
                            <span class="country-name">French Guiana (Guyane française)</span> <span class="country-code">+594</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pf"></div>
                            </span>
                            <span class="country-name">French Polynesia (Polynésie française)</span> <span class="country-code">+689</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ga"></div>
                            </span>
                            <span class="country-name">Gabon</span> <span class="country-code">+241</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gm"></div>
                            </span>
                            <span class="country-name">Gambia</span> <span class="country-code">+220</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ge"></div>
                            </span>
                            <span class="country-name">Georgia (საქართველო)</span> <span class="country-code">+995</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag de"></div>
                            </span>
                            <span class="country-name">Germany (Deutschland)</span> <span class="country-code">+49</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gh"></div>
                            </span>
                            <span class="country-name">Ghana (Gaana)</span> <span class="country-code">+233</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gi"></div>
                            </span>
                            <span class="country-name">Gibraltar</span> <span class="country-code">+350</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gr"></div>
                            </span>
                            <span class="country-name">Greece (Ελλάδα)</span> <span class="country-code">+30</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gl"></div>
                            </span>
                            <span class="country-name">Greenland (Kalaallit Nunaat)</span> <span class="country-code">+299</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gd"></div>
                            </span>
                            <span class="country-name">Grenada</span> <span class="country-code">+1473</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gp"></div>
                            </span>
                            <span class="country-name">Guadeloupe</span> <span class="country-code">+590</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gu"></div>
                            </span>
                            <span class="country-name">Guam</span> <span class="country-code">+1671</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gt"></div>
                            </span>
                            <span class="country-name">Guatemala</span> <span class="country-code">+502</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gg"></div>
                            </span>
                            <span class="country-name">Guernsey</span> <span class="country-code">+44</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gn"></div>
                            </span>
                            <span class="country-name">Guinea (Guinée)</span> <span class="country-code">+224</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gw"></div>
                            </span>
                            <span class="country-name">Guinea-Bissau (Guiné Bissau)</span> <span class="country-code">+245</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gy"></div>
                            </span>
                            <span class="country-name">Guyana</span> <span class="country-code">+592</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ht"></div>
                            </span>
                            <span class="country-name">Haiti</span> <span class="country-code">+509</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag hn"></div>
                            </span>
                            <span class="country-name">Honduras</span> <span class="country-code">+504</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag hk"></div>
                            </span>
                            <span class="country-name">Hong Kong (香港)</span> <span class="country-code">+852</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag hu"></div>
                            </span>
                            <span class="country-name">Hungary (Magyarország)</span> <span class="country-code">+36</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag is"></div>
                            </span>
                            <span class="country-name">Iceland (Ísland)</span> <span class="country-code">+354</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag in"></div>
                            </span>
                            <span class="country-name">India (भारत)</span> <span class="country-code">+91</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag id"></div>
                            </span>
                            <span class="country-name">Indonesia</span> <span class="country-code">+62</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ir"></div>
                            </span>
                            <span class="country-name">Iran (‫ایران‬)</span> <span class="country-code">+98</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag iq"></div>
                            </span>
                            <span class="country-name">Iraq (‫العراق‬)</span> <span class="country-code">+964</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ie"></div>
                            </span>
                            <span class="country-name">Ireland</span> <span class="country-code">+353</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag im"></div>
                            </span>
                            <span class="country-name">Isle of Man</span> <span class="country-code">+44</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag il"></div>
                            </span>
                            <span class="country-name">Israel (‫ישראל‬)</span> <span class="country-code">+972</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag it"></div>
                            </span>
                            <span class="country-name">Italy (Italia)</span> <span class="country-code">+39</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag jm"></div>
                            </span>
                            <span class="country-name">Jamaica</span> <span class="country-code">+1876</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag jp"></div>
                            </span>
                            <span class="country-name">Japan (日本)</span> <span class="country-code">+81</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag je"></div>
                            </span>
                            <span class="country-name">Jersey</span> <span class="country-code">+44</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag jo"></div>
                            </span>
                            <span class="country-name">Jordan (‫الأردن‬)</span> <span class="country-code">+962</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kz"></div>
                            </span>
                            <span class="country-name">Kazakhstan (Казахстан)</span> <span class="country-code">+7</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ke"></div>
                            </span>
                            <span class="country-name">Kenya</span> <span class="country-code">+254</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ki"></div>
                            </span>
                            <span class="country-name">Kiribati</span> <span class="country-code">+686</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag xk"></div>
                            </span>
                            <span class="country-name">Kosovo</span> <span class="country-code">+383</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kw"></div>
                            </span>
                            <span class="country-name">Kuwait (‫الكويت‬)</span> <span class="country-code">+965</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kg"></div>
                            </span>
                            <span class="country-name">Kyrgyzstan (Кыргызстан)</span> <span class="country-code">+996</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag la"></div>
                            </span>
                            <span class="country-name">Laos (ລາວ)</span> <span class="country-code">+856</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lv"></div>
                            </span>
                            <span class="country-name">Latvia (Latvija)</span> <span class="country-code">+371</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lb"></div>
                            </span>
                            <span class="country-name">Lebanon (‫لبنان‬)</span> <span class="country-code">+961</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ls"></div>
                            </span>
                            <span class="country-name">Lesotho</span> <span class="country-code">+266</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lr"></div>
                            </span>
                            <span class="country-name">Liberia</span> <span class="country-code">+231</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ly"></div>
                            </span>
                            <span class="country-name">Libya (‫ليبيا‬)</span> <span class="country-code">+218</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag li"></div>
                            </span>
                            <span class="country-name">Liechtenstein</span> <span class="country-code">+423</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lt"></div>
                            </span>
                            <span class="country-name">Lithuania (Lietuva)</span> <span class="country-code">+370</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lu"></div>
                            </span>
                            <span class="country-name">Luxembourg</span> <span class="country-code">+352</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mo"></div>
                            </span>
                            <span class="country-name">Macau (澳門)</span> <span class="country-code">+853</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mk"></div>
                            </span>
                            <span class="country-name">Macedonia (FYROM) (Македонија)</span> <span class="country-code">+389</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mg"></div>
                            </span>
                            <span class="country-name">Madagascar (Madagasikara)</span> <span class="country-code">+261</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mw"></div>
                            </span>
                            <span class="country-name">Malawi</span> <span class="country-code">+265</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag my"></div>
                            </span>
                            <span class="country-name">Malaysia</span> <span class="country-code">+60</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mv"></div>
                            </span>
                            <span class="country-name">Maldives</span> <span class="country-code">+960</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ml"></div>
                            </span>
                            <span class="country-name">Mali</span> <span class="country-code">+223</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mt"></div>
                            </span>
                            <span class="country-name">Malta</span> <span class="country-code">+356</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mh"></div>
                            </span>
                            <span class="country-name">Marshall Islands</span> <span class="country-code">+692</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mq"></div>
                            </span>
                            <span class="country-name">Martinique</span> <span class="country-code">+596</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mr"></div>
                            </span>
                            <span class="country-name">Mauritania (‫موريتانيا‬)</span> <span class="country-code">+222</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mu"></div>
                            </span>
                            <span class="country-name">Mauritius (Moris)</span> <span class="country-code">+230</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag yt"></div>
                            </span>
                            <span class="country-name">Mayotte</span> <span class="country-code">+262</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mx"></div>
                            </span>
                            <span class="country-name">Mexico (México)</span> <span class="country-code">+52</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag fm"></div>
                            </span>
                            <span class="country-name">Micronesia</span> <span class="country-code">+691</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag md"></div>
                            </span>
                            <span class="country-name">Moldova (Republica Moldova)</span> <span class="country-code">+373</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mc"></div>
                            </span>
                            <span class="country-name">Monaco</span> <span class="country-code">+377</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mn"></div>
                            </span>
                            <span class="country-name">Mongolia (Монгол)</span> <span class="country-code">+976</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag me"></div>
                            </span>
                            <span class="country-name">Montenegro (Crna Gora)</span> <span class="country-code">+382</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ms"></div>
                            </span>
                            <span class="country-name">Montserrat</span> <span class="country-code">+1664</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ma"></div>
                            </span>
                            <span class="country-name">Morocco (‫المغرب‬)</span> <span class="country-code">+212</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mz"></div>
                            </span>
                            <span class="country-name">Mozambique (Moçambique)</span> <span class="country-code">+258</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mm"></div>
                            </span>
                            <span class="country-name">Myanmar (Burma) (မြန်မာ)</span> <span class="country-code">+95</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag na"></div>
                            </span>
                            <span class="country-name">Namibia (Namibië)</span> <span class="country-code">+264</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag nr"></div>
                            </span>
                            <span class="country-name">Nauru</span> <span class="country-code">+674</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag np"></div>
                            </span>
                            <span class="country-name">Nepal (नेपाल)</span> <span class="country-code">+977</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag nl"></div>
                            </span>
                            <span class="country-name">Netherlands (Nederland)</span> <span class="country-code">+31</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag nc"></div>
                            </span>
                            <span class="country-name">New Caledonia (Nouvelle-Calédonie)</span> <span class="country-code">+687</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag nz"></div>
                            </span>
                            <span class="country-name">New Zealand</span> <span class="country-code">+64</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ni"></div>
                            </span>
                            <span class="country-name">Nicaragua</span> <span class="country-code">+505</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ne"></div>
                            </span>
                            <span class="country-name">Niger (Nijar)</span> <span class="country-code">+227</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ng"></div>
                            </span>
                            <span class="country-name">Nigeria</span> <span class="country-code">+234</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag nu"></div>
                            </span>
                            <span class="country-name">Niue</span> <span class="country-code">+683</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag nf"></div>
                            </span>
                            <span class="country-name">Norfolk Island</span> <span class="country-code">+672</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kp"></div>
                            </span>
                            <span class="country-name">North Korea (조선 민주주의 인민 공화국)</span> <span class="country-code">+850</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mp"></div>
                            </span>
                            <span class="country-name">Northern Mariana Islands</span> <span class="country-code">+1670</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag no"></div>
                            </span>
                            <span class="country-name">Norway (Norge)</span> <span class="country-code">+47</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag om"></div>
                            </span>
                            <span class="country-name">Oman (‫عُمان‬)</span> <span class="country-code">+968</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pk"></div>
                            </span>
                            <span class="country-name">Pakistan (‫پاکستان‬)</span> <span class="country-code">+92</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pw"></div>
                            </span>
                            <span class="country-name">Palau</span> <span class="country-code">+680</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ps"></div>
                            </span>
                            <span class="country-name">Palestine (‫فلسطين‬)</span> <span class="country-code">+970</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pa"></div>
                            </span>
                            <span class="country-name">Panama (Panamá)</span> <span class="country-code">+507</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pg"></div>
                            </span>
                            <span class="country-name">Papua New Guinea</span> <span class="country-code">+675</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag py"></div>
                            </span>
                            <span class="country-name">Paraguay</span> <span class="country-code">+595</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pe"></div>
                            </span>
                            <span class="country-name">Peru (Perú)</span> <span class="country-code">+51</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ph"></div>
                            </span>
                            <span class="country-name">Philippines</span> <span class="country-code">+63</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pl"></div>
                            </span>
                            <span class="country-name">Poland (Polska)</span> <span class="country-code">+48</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pt"></div>
                            </span>
                            <span class="country-name">Portugal</span> <span class="country-code">+351</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pr"></div>
                            </span>
                            <span class="country-name">Puerto Rico</span> <span class="country-code">+1</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag qa"></div>
                            </span>
                            <span class="country-name">Qatar (‫قطر‬)</span> <span class="country-code">+974</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag re"></div>
                            </span>
                            <span class="country-name">Réunion (La Réunion)</span> <span class="country-code">+262</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ro"></div>
                            </span>
                            <span class="country-name">Romania (România)</span> <span class="country-code">+40</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ru"></div>
                            </span>
                            <span class="country-name">Russia (Россия)</span> <span class="country-code">+7</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag rw"></div>
                            </span>
                            <span class="country-name">Rwanda</span> <span class="country-code">+250</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag bl"></div>
                            </span>
                            <span class="country-name">Saint Barthélemy</span> <span class="country-code">+590</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sh"></div>
                            </span>
                            <span class="country-name">Saint Helena</span> <span class="country-code">+290</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kn"></div>
                            </span>
                            <span class="country-name">Saint Kitts and Nevis</span> <span class="country-code">+1869</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lc"></div>
                            </span>
                            <span class="country-name">Saint Lucia</span> <span class="country-code">+1758</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag mf"></div>
                            </span>
                            <span class="country-name">Saint Martin (Saint-Martin (partie française))</span> <span class="country-code">+590</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag pm"></div>
                            </span>
                            <span class="country-name">Saint Pierre and Miquelon (Saint-Pierre-et-Miquelon)</span> <span class="country-code">+508</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag vc"></div>
                            </span>
                            <span class="country-name">Saint Vincent and the Grenadines</span> <span class="country-code">+1784</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ws"></div>
                            </span>
                            <span class="country-name">Samoa</span> <span class="country-code">+685</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sm"></div>
                            </span>
                            <span class="country-name">San Marino</span> <span class="country-code">+378</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag st"></div>
                            </span>
                            <span class="country-name">São Tomé and Príncipe (São Tomé e Príncipe)</span> <span class="country-code">+239</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sa"></div>
                            </span>
                            <span class="country-name">Saudi Arabia (‫المملكة العربية السعودية‬)</span> <span class="country-code">+966</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sn"></div>
                            </span>
                            <span class="country-name">Senegal (Sénégal)</span> <span class="country-code">+221</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag rs"></div>
                            </span>
                            <span class="country-name">Serbia (Србија)</span> <span class="country-code">+381</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sc"></div>
                            </span>
                            <span class="country-name">Seychelles</span> <span class="country-code">+248</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sl"></div>
                            </span>
                            <span class="country-name">Sierra Leone</span> <span class="country-code">+232</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sg"></div>
                            </span>
                            <span class="country-name">Singapore</span> <span class="country-code">+65</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sx"></div>
                            </span>
                            <span class="country-name">Sint Maarten</span> <span class="country-code">+1721</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sk"></div>
                            </span>
                            <span class="country-name">Slovakia (Slovensko)</span> <span class="country-code">+421</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag si"></div>
                            </span>
                            <span class="country-name">Slovenia (Slovenija)</span> <span class="country-code">+386</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sb"></div>
                            </span>
                            <span class="country-name">Solomon Islands</span> <span class="country-code">+677</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag so"></div>
                            </span>
                            <span class="country-name">Somalia (Soomaaliya)</span> <span class="country-code">+252</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag za"></div>
                            </span>
                            <span class="country-name">South Africa</span> <span class="country-code">+27</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag kr"></div>
                            </span>
                            <span class="country-name">South Korea (대한민국)</span> <span class="country-code">+82</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ss"></div>
                            </span>
                            <span class="country-name">South Sudan (‫جنوب السودان‬)</span> <span class="country-code">+211</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag es"></div>
                            </span>
                            <span class="country-name">Spain (España)</span> <span class="country-code">+34</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag lk"></div>
                            </span>
                            <span class="country-name">Sri Lanka (ශ්රී ලංකාව)</span> <span class="country-code">+94</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sd"></div>
                            </span>
                            <span class="country-name">Sudan (‫السودان‬)</span> <span class="country-code">+249</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sr"></div>
                            </span>
                            <span class="country-name">Suriname</span> <span class="country-code">+597</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sj"></div>
                            </span>
                            <span class="country-name">Svalbard and Jan Mayen</span> <span class="country-code">+47</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sz"></div>
                            </span>
                            <span class="country-name">Swaziland</span> <span class="country-code">+268</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag se"></div>
                            </span>
                            <span class="country-name">Sweden (Sverige)</span> <span class="country-code">+46</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ch"></div>
                            </span>
                            <span class="country-name">Switzerland (Schweiz)</span> <span class="country-code">+41</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag sy"></div>
                            </span>
                            <span class="country-name">Syria (‫سوريا‬)</span> <span class="country-code">+963</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tw"></div>
                            </span>
                            <span class="country-name">Taiwan (台灣)</span> <span class="country-code">+886</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tj"></div>
                            </span>
                            <span class="country-name">Tajikistan</span> <span class="country-code">+992</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tz"></div>
                            </span>
                            <span class="country-name">Tanzania</span> <span class="country-code">+255</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag th"></div>
                            </span>
                            <span class="country-name">Thailand (ไทย)</span> <span class="country-code">+66</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tl"></div>
                            </span>
                            <span class="country-name">Timor-Leste</span> <span class="country-code">+670</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tg"></div>
                            </span>
                            <span class="country-name">Togo</span> <span class="country-code">+228</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tk"></div>
                            </span>
                            <span class="country-name">Tokelau</span> <span class="country-code">+690</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag to"></div>
                            </span>
                            <span class="country-name">Tonga</span> <span class="country-code">+676</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tt"></div>
                            </span>
                            <span class="country-name">Trinidad and Tobago</span> <span class="country-code">+1868</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tn"></div>
                            </span>
                            <span class="country-name">Tunisia (‫تونس‬)</span> <span class="country-code">+216</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tr"></div>
                            </span>
                            <span class="country-name">Turkey (Türkiye)</span> <span class="country-code">+90</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tm"></div>
                            </span>
                            <span class="country-name">Turkmenistan</span> <span class="country-code">+993</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tc"></div>
                            </span>
                            <span class="country-name">Turks and Caicos Islands</span> <span class="country-code">+1649</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag tv"></div>
                            </span>
                            <span class="country-name">Tuvalu</span> <span class="country-code">+688</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag vi"></div>
                            </span>
                            <span class="country-name">U.S. Virgin Islands</span> <span class="country-code">+1340</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ug"></div>
                            </span>
                            <span class="country-name">Uganda</span> <span class="country-code">+256</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ua"></div>
                            </span>
                            <span class="country-name">Ukraine (Україна)</span> <span class="country-code">+380</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ae"></div>
                            </span>
                            <span class="country-name">United Arab Emirates (‫الإمارات العربية المتحدة‬)</span> <span class="country-code">+971</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag gb"></div>
                            </span>
                            <span class="country-name">United Kingdom</span> <span class="country-code">+44</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag us"></div>
                            </span>
                            <span class="country-name">United States</span> <span class="country-code">+1</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag uy"></div>
                            </span>
                            <span class="country-name">Uruguay</span> <span class="country-code">+598</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag uz"></div>
                            </span>
                            <span class="country-name">Uzbekistan (Oʻzbekiston)</span> <span class="country-code">+998</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag vu"></div>
                            </span>
                            <span class="country-name">Vanuatu</span> <span class="country-code">+678</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag va"></div>
                            </span>
                            <span class="country-name">Vatican City (Città del Vaticano)</span> <span class="country-code">+39</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ve"></div>
                            </span>
                            <span class="country-name">Venezuela</span> <span class="country-code">+58</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag vn"></div>
                            </span>
                            <span class="country-name">Vietnam (Việt Nam)</span> <span class="country-code">+84</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag wf"></div>
                            </span>
                            <span class="country-name">Wallis and Futuna (Wallis-et-Futuna)</span> <span class="country-code">+681</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag eh"></div>
                            </span>
                            <span class="country-name">Western Sahara (‫الصحراء الغربية‬)</span> <span class="country-code">+212</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ye"></div>
                            </span>
                            <span class="country-name">Yemen (‫اليمن‬)</span> <span class="country-code">+967</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag zm"></div>
                            </span>
                            <span class="country-name">Zambia</span> <span class="country-code">+260</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag zw"></div>
                            </span>
                            <span class="country-name">Zimbabwe</span> <span class="country-code">+263</span>
                        </li>
                        <li>
                            <span class="flag-box">
                                <div class="iti-flag ax"></div>
                            </span>
                            <span class="country-name">Åland Islands</span> <span class="country-code">+358</span>
                        </li>
                    </ul>
                </div>
                <div class="phone-input__wrapper fl-item-stretch"><input type="number" name="phone" min="1" placeholder="Số điện thoại" data-vv-as="Số điện thoại" aria-required="true" aria-invalid="false"></div>
            </div>
            <span>
                <!----> <!---->
            </span>
        </div>
        <div class="mb--30">
            <button class="btn btn--black btn--sm btn--full bold rounded">
                Nhận tư vấn miễn phí
            </button>
        </div>
        <!---->
    </div>
    <div>
        <div class="rounded bg-gray-f p--12 is-flex align-center jbetween">
            <p class="mb--0 p--small-2 c-gray-3">
                Gọi <a href="tel:18006586" class="extra-bold">18006586 (miễn phí)</a> để được hỗ trợ.
            </p>
            <svg version="1.1" viewBox="0 0 19 16" class="svg-icon svg-fill" style="width: 16px; height: 16px;">
                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                    <path pid="0" stroke="#666" stroke-linecap="round" stroke-linejoin="round" d="M17 10c0 1.043-.846 2-1.889 2H3.778l-2.051 2.171A1 1 0 010 13.485V1.889A1.89 1.89 0 011.889 0H15.11A1.89 1.89 0 0117 1.889V10z"></path>
                    <circle pid="1" cx="5" cy="6" r="1" fill="#D8D8D8"></circle>
                    <circle pid="2" cx="9" cy="6" r="1" fill="#D8D8D8"></circle>
                    <circle pid="3" cx="13" cy="6" r="1" fill="#D8D8D8"></circle>
                </g>
            </svg>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        $(".country .code").click(function () {
            if ($(".dropdown-flag").css('display') == "none") {
                console.log("display = empty");
                $(".dropdown-flag").css('display', '');
            }
            else {
                $(".dropdown-flag").css('display', 'none');
            }
        });
    });
</script>