<div class="mt--24 mb--42">
    <div class="login-instruction py--24 px--18 rounded ">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <h4 class="p--large bold mb--6">
                    Đăng nhập và tận hưởng quyền lợi của Thành viên!
                </h4>
                <p class="c-gray-5 mb--12">
                    Đăng ký thành viên DiBooking, trải nghiệm đột phá - Đặt phòng nhanh hơn, ưu đãi nhiều hơn nữa.
                </p>
                <a href="https://www.luxstay.com/vi/auth/sign/in?return_url=%2Fvi%2Frooms%2F12972" class="btn btn--primary rounded btn--xs bold mt--18">Đăng nhập ngay</a>
            </div>
        </div>
    </div>
</div>
