@model CurrencySelectorModel

@inject Nop.Core.IWebHelper webHelper
@if (Model.AvailableCurrencies.Count > 1)
{
    <div class="col-md-6 col-xs-12">
        @{
            var returnUrl = webHelper.GetRawUrl(Context.Request);
            @foreach (var currency in Model.AvailableCurrencies)
            {
                <a href="@Url.RouteUrl("ChangeCurrency", new { customercurrency = currency.Id, returnUrl }, webHelper.GetCurrentRequestProtocol())" class="is-flex middle-xs is-relative pointer @(currency.Id.Equals(Model.CurrentCurrencyId) ? "is-checked" : null)">
                    <b>@currency.Name</b>
                    <span class="px--12">@currency.Name</span>
                </a>
            }
        }
    </div>
}
