@model PasswordRecoveryModel
@{
    Layout = "_ColumnsThree";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}

<div class="col-md-4 col-xs-12 first-xs">
    <div class="account">
        <div>
            <h1 class="bold p--giant mb--30">Quên mật khẩu</h1>
            <p class="p--small mb--12">Vui lòng nhập địa chỉ email được liên kết với tài khoản Dibooking để nhận liên kết đặt lại mật khẩu</p>
            <form class="account__body">
                <div class="input-group__icon is-relative">
                    <p class="bold mb--6">Email</p>
                    <div>
                        <input name="email" aria-required="true" aria-invalid="false">
                        <span>
                            <!----> <!---->
                        </span>
                    </div>
                    <!---->
                </div>
                <div>
                    <div style="width: 304px; height: 78px;">
                        <div><iframe title="reCAPTCHA" src="./passwordRecovery_files/anchor.html" width="304" height="78" role="presentation" name="a-dhsvv3cywfc9" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
                        <textarea id="g-recaptcha-response-1" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                    </div>
                    <iframe style="display: none;" src="./passwordRecovery_files/saved_resource.html"></iframe>
                </div>
                <button type="submit" disabled="disabled" class="account__btn btn btn-grad--primary btn--shadow btn--md btn--radius btn--full bold">Gửi</button>
            </form>
            <!---->
        </div>
    </div>
</div>


@*<div class="page password-recovery-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-info">
                @Model.Result
            </div>
        }
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="description alert alert-info">@T("Account.PasswordRecovery.Tooltip")</div>
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-3 col-md-2 col-xs-12 password-text" asp-for="Email" asp-postfix=":"></label>
                    <div class="visible-xs form-title-rquired"><nop-required /></div>
                    <div class="col-sm-5 col-md-3 col-xs-12">
                        <input asp-for="Email" class="email form-control" />
                    </div>
                    <div class="col-sm-3 col-md-4 col-xs-12">
                        <div class="visible-lg visible-md visible-sm form-title-rquired"><nop-required /></div>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="form-group">
                        <div class="captcha-box">
                            <div class="col-sm-offset-2 col-md-offset-2 col-md-8">
                                <nop-captcha />
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-2 col-md-2">
                        <button type="submit" name="send-email" class="btn btn-primary password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>*@
